# Pandas Dataframe vs Dask Dataframe vs SFrame

## Load data

In [336]:
import dask
import pandas as pd
import dask.dataframe as dd
from sframe import SFrame as sf

import sframe.aggregate as agg

Dask is a ligh-weight framework to work with large dataframes, that do not fit in memory. 
Pandas by default loads df in memory, Dask on the other hand uses lazy eval. SFrame 

More info: http://dask.pydata.org/en/latest/dataframe-overview.html

In [337]:
inf_small = 'data.tsv' # small file, size: 154M
inf_big = 'big_data.tsv' # big file, size: 21G

columns = ['lat', 'long', 'class']
delimiter = '\t'

# Start small

In [338]:
%%time
pdf = (pd.
       read_csv(inf_small, delimiter=delimiter, names=columns)) # Pandas

CPU times: user 1.95 s, sys: 203 ms, total: 2.16 s
Wall time: 2.27 s

In [339]:
%%time
ddf = (dd.
       read_csv(inf_small, delimiter=delimiter, names=columns)) # Dask

CPU times: user 12.8 ms, sys: 13.6 ms, total: 26.4 ms
Wall time: 28.9 ms

In [340]:
%%time
sdf = (sf.
       read_csv(inf_small, delimiter=delimiter, header=False, verbose=False).
       rename({'X1': columns[0],
               'X2': columns[1],
               'X3': columns[2]})) #SFrame

CPU times: user 9.01 s, sys: 497 ms, total: 9.51 s
Wall time: 4.71 s

In [341]:
%%time
pdf.tail(5) # Pandas

CPU times: user 248 µs, sys: 47 µs, total: 295 µs
Wall time: 273 µs

               lat        long   class
3733254  34.045365  -77.887768  class2
3733255  36.613393  -80.441027  class2
3733256  37.645448 -112.424236  class5
3733257  37.645448 -112.424236  class5
3733258  37.645448 -112.424236  class1

In [342]:
%%time
ddf.tail(5) # Dask

CPU times: user 435 ms, sys: 117 ms, total: 552 ms
Wall time: 566 ms

              lat     long   class
757923  34.045365 -77.8878  class2
757924  36.613393  -80.441  class2
757925  37.645448 -112.424  class5
757926  37.645448 -112.424  class5
757927  37.645448 -112.424  class1

In [343]:
%%time
sdf.tail(5) # SFrame

CPU times: user 10.2 ms, sys: 3.59 ms, total: 13.8 ms
Wall time: 13.8 ms

Columns:
	lat	float
	long	float
	class	str

Rows: 5

Data:
+---------------+----------------+--------+
|      lat      |      long      | class  |
+---------------+----------------+--------+
|  34.04536492  |  -77.8877682   | class2 |
|  36.613393279 | -80.4410271927 | class2 |
| 37.6454475618 | -112.424235654 | class5 |
| 37.6454475618 | -112.424235654 | class5 |
| 37.6454475618 | -112.424235654 | class1 |
+---------------+----------------+--------+
[5 rows x 3 columns]

# Now go Big

In [344]:
%%time
bpdf = pd.read_csv(inf_big, delimiter=delimiter, names=columns) # Pandas

CPU times: user 4min 31s, sys: 1min 23s, total: 5min 55s
Wall time: 6min 48s

In [345]:
%%time
bddf = dd.read_csv(inf_big, 
                   delimiter=delimiter, 
                   names=columns) # Dask

CPU times: user 170 ms, sys: 52.6 ms, total: 223 ms
Wall time: 288 ms

In [346]:
%%time
bssf = (sf.
       read_csv(inf_big, delimiter=delimiter, header=False, verbose=False).
       rename({'X1': columns[0],
               'X2': columns[1],
               'X3': columns[2]})) # SFrame

CPU times: user 11min 36s, sys: 31.2 s, total: 12min 7s
Wall time: 5min 27s

In [351]:
%%time
bpdf.tail(100000).head(10) # tail big Pandas dataframe

CPU times: user 828 µs, sys: 1.79 ms, total: 2.62 ms
Wall time: 2.54 ms

                 lat        long   class
522556260  45.697158 -111.049998  class5
522556261  45.697158 -111.049998  class5
522556262  45.697158 -111.049998  class5
522556263  45.697158 -111.049998  class5
522556264  45.697158 -111.049998  class5
522556265  37.801181 -122.426827  class5
522556266  37.801181 -122.426827  class5
522556267  37.801181 -122.426827  class5
522556268  37.801181 -122.426827  class5
522556269  37.801181 -122.426827  class5

In [352]:
%%time
bddf.tail(100000).head(10) # tail big Dask dataframe

CPU times: user 262 ms, sys: 77.9 ms, total: 340 ms
Wall time: 344 ms

              lat     long   class
292009  45.697158  -111.05  class5
292010  45.697158  -111.05  class5
292011  45.697158  -111.05  class5
292012  45.697158  -111.05  class5
292013  45.697158  -111.05  class5
292014  37.801181 -122.427  class5
292015  37.801181 -122.427  class5
292016  37.801181 -122.427  class5
292017  37.801181 -122.427  class5
292018  37.801181 -122.427  class5

In [353]:
%%time
bssf.tail(100000).head(10) # tail big SFrame

CPU times: user 56.4 ms, sys: 25.9 ms, total: 82.3 ms
Wall time: 89.9 ms

Columns:
	lat	float
	long	float
	class	str

Rows: 10

Data:
+---------------+----------------+--------+
|      lat      |      long      | class  |
+---------------+----------------+--------+
| 45.6971577621 | -111.049997807 | class5 |
| 45.6971577621 | -111.049997807 | class5 |
| 45.6971577621 | -111.049997807 | class5 |
| 45.6971577621 | -111.049997807 | class5 |
| 45.6971577621 | -111.049997807 | class5 |
| 37.8011810461 | -122.42682673  | class5 |
| 37.8011810461 | -122.42682673  | class5 |
| 37.8011810461 | -122.42682673  | class5 |
| 37.8011810461 | -122.42682673  | class5 |
| 37.8011810461 | -122.42682673  | class5 |
+---------------+----------------+--------+
[10 rows x 3 columns]

My laptop has 8GB RAM, 4 CPUs, and SSD HD.

# Transform small

In [354]:
%%time
(pdf.
 groupby('class').
 count()) # Pandas

CPU times: user 260 ms, sys: 201 ms, total: 460 ms
Wall time: 515 ms

            lat     long
class
class1   863138   863138
class2    71834    71834
class3      410      410
class4    84445    84445
class5  2713428  2713428

In [355]:
%%time
(ddf.
 groupby('class').
 count().
 compute()) # Dask

CPU times: user 3.27 s, sys: 1.38 s, total: 4.65 s
Wall time: 3.24 s

            lat     long
class
class1   863140   863140
class2    71834    71834
class3      410      410
class4    84445    84445
class5  2713428  2713428

In [356]:
%%time
(sdf.
 groupby(key_columns='class',
         operations={'lat': agg.COUNT(),
                     'long': agg.COUNT()})) # SFrame

CPU times: user 2.38 s, sys: 47 ms, total: 2.42 s
Wall time: 806 ms

Columns:
	class	str
	lat	int
	long	int

Rows: 5

Data:
+--------+---------+---------+
| class  |   lat   |   long  |
+--------+---------+---------+
| class5 | 2713428 | 2713428 |
| class3 |   410   |   410   |
| class1 |  863138 |  863138 |
| class2 |  71834  |  71834  |
| class4 |  84445  |  84445  |
+--------+---------+---------+
[5 rows x 3 columns]

# Transform Big

In [357]:
%%time
(bpdf.
 groupby('class').
 count()) # Pandas

CPU times: user 39 s, sys: 1min 8s, total: 1min 47s
Wall time: 2min 33s

              lat       long
class
class1  120839320  120839320
class2   10056760   10056760
class3      57400      57400
class4   11822300   11822300
class5  379879920  379879920

In [358]:
%%time
(bddf.
 groupby('class').
 count().
 compute()) # Dask

CPU times: user 8min 33s, sys: 1min 36s, total: 10min 10s
Wall time: 4min 41s

              lat       long
class
class1  120839671  120839671
class2   10056760   10056760
class3      57400      57400
class4   11822300   11822300
class5  379879920  379879920

In [359]:
%%time
(bssf.
 groupby(key_columns='class',
         operations={'lat': agg.COUNT(),
                     'long': agg.COUNT()})) # SFrame

CPU times: user 6min 14s, sys: 3.19 s, total: 6min 17s
Wall time: 2min 18s

Columns:
	class	str
	lat	int
	long	int

Rows: 5

Data:
+--------+-----------+-----------+
| class  |    lat    |    long   |
+--------+-----------+-----------+
| class5 | 379879920 | 379879920 |
| class3 |   57400   |   57400   |
| class1 | 120839320 | 120839320 |
| class2 |  10056760 |  10056760 |
| class4 |  11822300 |  11822300 |
+--------+-----------+-----------+
[5 rows x 3 columns]